.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.Document {
  width: 100%;
}

.Page {
  width: 100% !important;
  height: auto !important;
}

@media (min-width: 768px) {
  .file-upload-container {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .file-upload-container {
    padding: 10px;
  }
}
